# PyTorch dependencies with specific versions
torch
torchvision
torchaudio

# Other dependencies
lightning
torchtext
scipy
numpy
tqdm
pytorch-fid
pandas
lpips
lmdb
ftfy
regex
dlib
requests
matplotlib
